<!DOCTYPE html>
<html th:attr="lang=${lang}" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{template.html :: head}"></head>
<body>
<div th:insert="~{template.html :: nav}"></div>
<div th:insert="~{template.html :: featured-prueba}"></div>

<section class="container py-5">
    <div class="row text-center pt-3">
        <div class="col-lg-6 m-auto">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Identificacion</th>
                    <th scope="col">Nivel</th>
                    <th scope="col">Edad</th>
                    <th scope="col">Altura</th>
                    <th scope="col">Peso</th>
                    <th scope="col">Genero</th>
                    <th scope="col">Accion</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="prueba : ${pruebas}">
                    <td><span th:text="${prueba.id}"></span></td>
                    <td><span th:text="${prueba.nombre}"> </span></td>
                    <td><span th:text="${prueba.identificacion}"> </span></td>
                    
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</section>


<div th:insert="~{template.html :: footer}"></div>
<div th:insert="~{template.html :: scripts}"></div>

</body>
</html>
